# --- Configurações Gerais do Projeto SmartLab IoT (Exemplo) ---

# Portas expostas no Host
BACKEND_PORT=8000
RABBITMQ_AMQP_PORT=5672
RABBITMQ_MGMT_PORT=15672
MQTT_LAB1_PORT=1883
MQTT_LAB1_WS_PORT=9001
MQTT_LAB3_PORT=1884
MQTT_LAB3_WS_PORT=9002
COAP_LAB2_PORT=5683

# Credenciais RabbitMQ Central
RABBITMQ_USER=guest
RABBITMQ_PASS=guest

# Configurações do Intervalo de Simulação e Agregação (em segundos)
SIMULATION_INTERVAL=5
AGGREGATION_WINDOW=5

# Variáveis do Python
PYTHONUNBUFFERED=1
